<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Survey Form</title>
        <link rel="stylesheet" href="/css/result-style.css">
    </head>
    <body>
        <main>
            <p><span>Name:</span><%=result.name %></p>
            <p><span>Dojo Location:</span><%=result.dojo_loc %></p>
            <p><span>Favorite Language:</span><%=result.favorite_language %></p>
            <p><span>Comment:</span><%=result.comment %></p>
            <p id="link"><a href="/" id="go-back">Go Back</a></p>
        </main>
    </body>
</html>