<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cars</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <main>
            <h1>
                <span>You did <span class="highlight"><%=timesVisited %>x</span> visiting this page.</span>
                <a href="/reset">Reset</a>
            </h1>
            <p>You have <span class="highlight"><%=cars.length %></span> cars!</p>
            <p>The cars in the database are as follows:</p>
            <ul>
                <% for(var ind = 0; ind < cars.length; ind++){ %>
                <li><%=cars[ind].name %> - <%=cars[ind].year %></li>
                <% } %>
            </ul>
        </main>
    </body>
</html>