form{
    display: inline-block;
    width: 20rem;
    padding: 1rem;
    padding-bottom: 12%;
    margin-top: 1rem;
}
label{
    height: 2rem;
    display: block;
}
main{
    display: inline-block;
    width: 69.5%;
    height: 96.3vh;
    margin-top: 1rem;
    margin-left: 1rem;
    vertical-align: top;
    overflow-y: auto;
}
section{
    display: inline-block;
    width: 30%;
    vertical-align: text-top;
    margin: 0 auto;
    margin-top: 2rem;
}
img{
    height: 7rem;
    width: 7rem;
    display: block;
    margin: 0 auto;
}
p{
    text-align: center;
}
@media screen and (max-width: 1199px) {
    form{
        width: 100%;
    }
    main{
        width: 100%;
        margin-left: 0;
    }
}